* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  width: 40%;
  height: 30px;
  margin-top: 30px;
  font-size: medium;
  padding: 0 10px;
}
button {
  margin-left: 20px;
  padding: 0 20px;
  height: 30px;
  margin-top: 30px;
}

.container {
  width: 1160px;
  padding: 0 10px;
  margin: auto;
  margin-top: 30px;
}

li {
  list-style-type: none;
}
